#!/usr/bin/env bash

encoder='albert-xxlarge-v2'
dataset="csqa"
inhouse=1
max_seq_len=80
encoder_lr=2e-6
decoder_lr=1e-3
batch_size=32
dropoutm=0.1
save_model=0
seed=0
gpu_device=0
ent_emb=tzw
cpnet_vocab_path='./data/cpnet/concept.txt'
cpnet_graph_path='./data/cpnet/conceptnet.en.pruned.graph'
ent_emb_paths='./data/cpnet/tzw.ent.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_name='cpnet'