#!/usr/bin/env bash

encoder='albert-xxlarge-v2'
dataset="csqa"
inhouse=1
max_seq_len=80
encoder_lr=1e-5
decoder_lr=1e-3
batch_size=16
dropoutm=0.1
save_model=0
seed=12345
gpu_device=0
ablation='att_pool'
debug=False
subsample=1.0
mlp_dim=128
mlp_layer_num=2
use_cache=False
kg_model='pg_full'
ent_emb='tzw'
cpnet_vocab_path='./data/swow/concept.txt'
cpnet_graph_path='./data/swow/conceptnet.en.pruned.graph'
ent_emb_paths='./data/cpnet/tzw.ent.npy'
rel_emb_path='./data/swow/glove.TransE.SGD.rel.npy'
kg_name=swow