#!/usr/bin/env bash

encoder='roberta-large'
encoder_lr=1e-5
lm_sent_pool='max'
dataset="obqa"
inhouse=0
max_seq_len=84
batch_size=32
save_model=0
seed=0
gpu_device=0
use_cache=True
kg_name='cpnet'
ent_emb='roberta'
ablation='att_pool'
ent_emb_paths='./data/cpnet/concept_roberta_emb.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='pg_full'
decoder_lr=3e-4
path_embedding_path='path_embeddings/obqa/path_embedding_cpnet.pickle'
subsample=1.0
debug=False
mini_batch_size=2
seeds_nouse=(0 4989 8625)
n_runs=3
decoder_hidden_dim=150
encoder_dim=128
encoder_dropoute=0.1
encoder_dropouti=0.2
encoder_dropouth=0.2
dropoutm=0.2

ent_emb_paths_tzw='./data/cpnet/tzw.ent.npy'