#!/usr/bin/env bash

encoder='roberta-large'
lm_sent_pool='mean'
dataset="obqa"
inho=0
max_seq_len=84
encoder_lr=1e-5
decoder_lr=1e-3
batch_size=32
dropoutm=0.1
save_model=0
seed=0
gpu_device=3
use_cache=False
kg_name='cpnet'
ent_emb='tzw'
ablation='att_pool'
ent_emb_paths='./data/cpnet/tzw.ent.npy'
rel_emb_path='./data/transe/glove.transe.sgd.rel.npy'
kg_model='pg_full'
path_embedding_path='path_embeddings/csqa/path_embedding_cpnet.pickle'
subsample=0.2
debug=False
mini_batch_size=2
seeds=(0 21527 24524)
n_runs=3
ent_emb_paths_tzw='./data/cpnet/tzw.ent.npy'